/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 oct. 2019, 12:18:56
    Author     : Lucille
*/

.container{
    -fx-background-color: #F6DFD0;
    -fx-border-color: none;
}
.grid{
    -fx-background-color: #F9EAE0;
    -fx-border-color: #594E49;
    -fx-border-width: 2px;
    -fx-halignment: center;
    -fx-alignment: CENTER;
}
.case_label_2{
    -fx-text-fill: white;
    -fx-background-color: #DDA092;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_4{
    -fx-text-fill: white;
    -fx-background-color: #EB9784;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_8{
    -fx-text-fill: white;
    -fx-background-color: #FF8A70;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_16{
    -fx-text-fill: white;
    -fx-background-color: #FF6947;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_32{
    -fx-text-fill: white;
    -fx-background-color: #FF481F;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_64{
    -fx-text-fill: white;
    -fx-background-color: #D73814;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_128{
    -fx-text-fill: white;
    -fx-background-color: #A85543;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_256{
    -fx-text-fill: white;
    -fx-background-color: #9A5E51;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_512{
    -fx-text-fill: white;
    -fx-background-color: #B9705F;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_1024{
    -fx-text-fill: white;
    -fx-background-color: #67382D;
    -fx-font-size: 35px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_2048{
    -fx-text-fill: white;
    -fx-background-color: #7E2916;
    -fx-font-size: 35px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.score_label{
    -fx-background-color: none;
    -fx-text-fill: #39291F;
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 30px;
    -fx-text-transform: uppercase;
}
.nb_score{
    -fx-backgroud-color: none;
    -fx-text-fill: #594E49;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 30px;
}
.score_pane{
    -fx-background-color: #E2CBBE;
    -fx-border-width: 0px;
}
.move_pane{
    -fx-background-color: #B99F92;
    -fx-border-width: 0px;
}
.move_label{
    -fx-text-alignment:center;
    -fx-background-color: none;
    -fx-text-fill: #F7EFEB;
    -fx-font-family: "Calibri";
    -fx-text-weight: bold;
    -fx-font-size: 25px;
    -fx-padding: 5 5 5 5;
}
.nb_move{
    -fx-text-fill: #F7EFEB;
    -fx-font-family: "Impact";
    -fx-font-size: 40px;
    -fx-padding: 5 5 5 5;
}
.bouton_start{
    -fx-position: absolute;
    -fx-padding: 4 10 4 10;
    -fx-top: 50%;
    -fx-left: 50%;
    -fx-background-color: #C49A89;
    -fx-text-fill: white;
    -fx-font-family: "Goudy Stout";
    -fx-margin: auto;
    -fx-font-size: 18px;
}

.boutons {
    -fx-position: absolute;
    -fx-padding: 4 10 4 10;
    -fx-top: 50%;
    -fx-left: 50%;
    -fx-background-color: #C49A89;
    -fx-text-fill: white;
    -fx-font-family: "Goudy Stout";
    -fx-margin: auto;
    -fx-font-size: 10px;
}

.connect_has {
    -fx-position: absolute;
    -fx-padding: 4 10 4 10;
    -fx-top: 50%;
    -fx-left: 50%;
    -fx-text-fill: black;
    -fx-font-family: "Calibri";
    -fx-margin: auto;
    -fx-font-size: 16px;
}

.menu_bar{
    -fx-background-color: none;
}
.bouton_menu{
    -fx-background-color: #C49A89;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
}
.bouton_sous_menu{
    -fx-background-color: #C49A89;
    -fx-text-fill: white;
    
}