/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 nov. 2019, 15:33:14
    Author     : Lucille
*/

@font-face {
    font-family: "Impact";
    src: url("fonts/impact.ttf");
}

@font-face {
    font-family: "Calibri";
    src: url("fonts/Calibri.ttf");
}

@font-face {
    font-family: "rilakkuma dingbat";
    src: url("fonts/rilakkumadingbat-Bold.ttf");
}

@font-face {
    font-family: "Gill Sans Ultra Bold Condensed";
    src: url("fonts/GILLUBCD.TTF");
}

@font-face {
    font-family: "Agency FB";
    src: url("fonts/AGENCYR.TTF");
}

.container{
    -fx-background-color: #F8D2F2;
    -fx-border-color: none;
}
.grid{
    -fx-background-color: #FCE9F9;
    -fx-border-color: #F4A8E8;
    -fx-border-width: 3px;
    -fx-halignment: center;
    -fx-alignment: CENTER;
}

.case_label_2{
    -fx-text-fill: white;
    -fx-background-color: #B8CDFF;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_4{
    -fx-text-fill: white;
    -fx-background-color: #A8AEFF;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_8{
    -fx-text-fill: white;
    -fx-background-color: #B39EFF;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_16{
    -fx-text-fill: white;
    -fx-background-color: #CB9EFF;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_32{
    -fx-text-fill: white;
    -fx-background-color: #DE8AFF;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_64{
    -fx-text-fill: white;
    -fx-background-color: #FF94F6;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_128{
    -fx-text-fill: white;
    -fx-background-color: #FF85C8;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_256{
    -fx-text-fill: white;
    -fx-background-color: #FF57B3;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_512{
    -fx-text-fill: white;
    -fx-background-color: #FF5784;
    -fx-font-size: 45px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_1024{
    -fx-text-fill: white;
    -fx-background-color: #FF8AA9;
    -fx-font-size: 35px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}

.case_label_2048{
    -fx-text-fill: white;
    -fx-background-color: #FF616E;
    -fx-font-size: 35px;
    -fx-text-align: center;
    -fx-font-family: "Impact";
}
.score_label{
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-font-family: "rilakkuma dingbat";
    -fx-font-size: 25px;
}
.nb_score{
    -fx-backgroud-color: none;
    -fx-text-fill: white;
    -fx-font-family: "Gill Sans Ultra Bold Condensed";
    -fx-font-size: 30px;
}
.score_pane{
    -fx-text-alignment: center;
    -fx-background-color: #C3D3FF;
    -fx-border-color: #AFC2F9;
    -fx-border-width: 2px;
}
.move_pane{
    -fx-text-alignment: center;
    -fx-background-color: #C3D3FF;
    -fx-border-color: #AFC2F9;
    -fx-border-width: 2px;
}
.move_label{
    -fx-text-align: center;
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-font-family: "Agency FB";
    -fx-text-weight: bold;
    -fx-font-size: 35px;
    -fx-margin: auto;
    -fx-padding: 5 5 5 5;
}
.nb_move{
    -fx-text-fill: white;
    -fx-font-family: "Agency FB";
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-padding: 5 5 5 5;
}
.bouton_start{
    -fx-position: absolute;
    -fx-padding: 4 10 4 10;
    -fx-top: 50%;
    -fx-left: 50%;
    -fx-background-color: #F9AFEE;
    -fx-text-fill: white;
    -fx-font-family: "rilakkuma dingbat";
    -fx-margin: auto;
    -fx-font-size: 23px;
    
}

.boutons {
    -fx-position: absolute;
    -fx-padding: 4 10 4 10;
    -fx-top: 50%;
    -fx-left: 50%;
    -fx-background-color: #F9AFEE;
    -fx-text-fill: white;
    -fx-font-family: "rilakkuma dingbat";
    -fx-margin: auto;
    -fx-font-size: 10px;
}

.connect_has {
    -fx-position: absolute;
    -fx-padding: 4 10 4 10;
    -fx-top: 50%;
    -fx-left: 50%;
    -fx-text-fill: white;
    -fx-font-family: "Calibri";
    -fx-margin: auto;
    -fx-font-size: 16px;
}

.menu_pane{
    -fx-background-color: #FB7AD4;
}
.menu_bar{
    -fx-background-color: none;
    -fx-text-fill: white;
}
.bouton_menu{
    -fx-padding: 4 10 4 10;
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-font-family: "Agency FB";
    -fx-font-size: 18px;
}
.bouton_sous_menu{
    -fx-background-color: #FB7AD4;
    -fx-text-fill: white;
    
}
.switch_theme{
    -fx-border: none;
    -fx-background-color: #F9AFEE;
}
.switch_theme:focus{
    -fx-outline: none;
}