/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 oct. 2019, 12:18:56
    Author     : Lucille
*/

.container{
    -fx-background-color: beige;
    -fx-border-color: none;
}
.grid{
    -fx-background-color: silver;
    -fx-border-color: grey;
    -fx-border-width: 2px;
}
.scoreLabel{
    -fx-background-color: none;
    -fx-color: red;
}
.nb_score{
    -fx-backgroud-color:none;
    -fx-color: grey;
}
.score_pane{
    -fx-backgroud-color:none;
}
.move_pane{
    -fx-background-color: lightcyan;
    -fx-color: violet;
}
.nb_move{
    
}
